body {
    margin:0;
    padding:50px;
    /*background-color:#4c4a4e;*/
    background:linear-gradient(27deg, rgba(107,82,52,1) 0%, rgba(76,74,78,1) 100%);
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Rubik', sans-serif;
    height:100vh;
}

.fw5 {font-weight:500;}
.fw3 {font-weight:300;}
.fw4 {font-weight:400;}

.row {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    background-color:rgba(1,1,1,0);
}

.iblock {
    float:left;
    width:50px;
    height:50px;
    box-sizing:border-box;
    padding:10px;
    background-color:rgba(1,1,1,0.2);
    border-radius:5px;
}

.iblock img {
    width:100%;
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

.arrow-right {
    float:left;
    width:30px;
}

.arrow-right img {
    opacity:0.75;
}

.row-triple {
    margin-top:20px;
    height:165px;
    margin-left:auto;
    margin-right:auto;
}

.col-triple {
    
    float:left;
    height:150px;
    width:50px;
}

.col-triple div {
    margin-bottom:5px;
}


.arrow-right-triple {
    float:left;
    width:30px;
}

.arrow-right-triple img {
    margin-top:55px;
}

.row-text {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    line-height:20px;
    color:#d6d6d6;
    font-weight:600;
    font-size:14px;
}

.row-header {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-weight:600;
    font-size:28px;
    color:#e6a04a;
}
