body {
    margin:0;
    padding:50px;
    /*background-color:#4c4a4e;*/
    background:linear-gradient(27deg, rgba(107,82,52,1) 0%, rgba(76,74,78,1) 100%);
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Rubik', sans-serif;
    height:100vh;
    padding-bottom:50px;
}
.fw5 {font-weight:500;}
.fw4 {font-weight:400;}
.fw3 {font-weight:300;}
.fs24 {font-size:24px !important;}
.fs18 {font-size:16px !important;}
.fs14 {font-size:14px;}
.fcorange {color:#e6a04a !important;}

.row {
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:rgba(1,1,1,0);
}

/* redundant but cba */
.textrow {
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:rgba(1,1,1,0);
    text-align:center;
    color:#d6d6d6;
    line-height:20px;
    font-size:14px;
}

.textor {
    float:left;
    margin-left:auto;
    margin-right:auto;
    height:20px;
    width:100%;
    background-color:rgba(1,1,1,0);
    text-align:center;
    color:#d6d6d6;
    line-height:20px;
    font-size:14px;
}

.icontainer {
    margin-left:auto;
    margin-right:auto;
}

.iblock {
    float:left;
    width:50px;
    height:50px;
    box-sizing:border-box;
    padding:10px;
    background-color:rgba(1,1,1,0.2);
    border-radius:5px;
}

.iblock img {
    width:100%;
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

.iblock-double {
    float:left;
    width:50px;
    height:50px;
    margin-top: 25px;
    box-sizing:border-box;
    padding:10px;
    background-color:rgba(1,1,1,0.2);
    border-radius:5px;
}

.iblock-double img {
    width:100%;
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

.iseparator {
    float:left;
    width:30px;
}

.iseparator img {
    opacity:0.75;
}

.col-double {
    float: left;
    height:120px;
}

.col-double-or {
    float: left;
    height:120px;
    width:50px;
}

.col-triple {
    float:left;
    height:150px;
    width:50px;
}

.col-triple div {margin-bottom:5px;}

.iseparator-double {
    float:left;
    height:100px;
}

.iseparator-double img {
    margin-top: 25px;
}

.iseparator-triple {
    float:left;
    height:150px;
}

.iseparator-triple img {
    margin-top:55px;
}
